footer{
    background-color: #1a1a1a;
    padding-top: 60px;

    .container-newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        
        &::before{
            content: "";
            border: 2px solid #ffb606;
            width: 15%;
        }

        h2{
            color: #fff;
            font-size: 30px;
            margin: 15px 0 40px 0;
        }

        input{
            padding: 10px 20px;
            width: 80%;
            margin-bottom: 10px;
            color: #a7a7a7;

        }

        a{
            background-color: #ffb606;
            color: #fff;
            padding: 10px 50px;
        }
    }

    .container-course{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .logo-footer{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 40px 0;

            h2{
                color: #fff;
                margin-left: 10px;
            }

            p{
                color: #9c9c9c;
                line-height: 25px;
            }
        }

        .conainer-link-footer{
            display: flex;
            flex-direction: column;
            height: 190px;
            justify-content: space-between;
            margin-bottom: 40px;

            .title-link{
                display: flex;
                
                h3{
                    margin: 0;
                    color: #fff;
                }
            }

            .link{
                display: flex;
                flex-direction: column;
                height: 130px;
                justify-content: space-between;
                a{
                    color: #9c9c9c;
                    
                    &:hover{
                        color: #ffb606;
                    }
                }
            }
        }

        .container-contact{
            display: flex;
            flex-direction: column;
            height: 190px;
            justify-content: space-between;
            margin-bottom: 40px;

            h3{
                margin: 0;
                color: #fff;
            }

            .container-contact-1{
                display: flex;
                height: 130px;
                flex-direction: column;
                justify-content: space-between;


                .container-svg_link{
                    display: flex;
                    align-items: center;
    
                    .container-svg-contact{
                        margin-right: 10px;
                    }
                    
                    a{
                        color: #9c9c9c;
                    }
                }
            }
            
        }
    }

    .container-copyright{
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;

        small{
            color: #9c9c9c;
            width: 100%;
            a{
                color: #076de4;

                &:hover{
                    color: #094e9e;
                }
            }
        }
    }

}